@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400;500&display=swap');

body {
    max-width: 1200px;
    margin: 0 auto;
    background-color: hsl(268, 65%, 5%);
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: #cf7d69 hsl(268, 65%, 5%);
    user-select: none;
}

*{
    cursor: url(../assets/wandmodified.png), auto;
}

*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    background: #b9b9b9;
}

*::-webkit-scrollbar-thumb {
    background-color: #570c0c;
    border-radius: 10px;
    border: 3px solid #acacac;
}

.container-fluid {
    background-color: hsl(266, 52%, 11%);
    box-shadow: 0 0 100px 100px hsl(266, 52%, 11%);
}

h1, h2, h3 {
    text-align: center;
    font-family: 'Griffy', system-ui;
    color: hsl(0, 0%, 100%);
}

h1 {
    font-weight: bold;
    font-size: 75px;
    padding: 20px;
}

h2, h3 {
    font-size: 45px;
    padding: 25px;
}

h3 {
    font-weight: bold;
}

h6 {
    margin: 0;
    padding: 0;
    top: 0;
    bottom: 0;
    visibility: hidden;
    font-size: 1px;
}

table {
    color: hsl(0, 0%, 100%);
    font-family: arial, sans-serif;
    border-collapse: collapse;
    box-shadow: 0 0 4px 0 hsl(0, 0%, 87%);
    width: 100%;
    background-color: hsl(8, 48%, 23%);
}

td, th {
    border: 1px solid hsl(0, 0%, 87%);
    box-shadow: 0 0 4px 0 hsl(0, 0%, 87%);
    text-align: left;
    padding: 8px;
}

@media (max-width: 550px) {
    td {
        text-align: center;
    }
}

.table-bordered td {
    border: 1px solid #dee2e6;
}

.table-bordered td {
    padding: 0.75rem;
    vertical-align: top;
}

th {
    text-align: center;
}

p {
    font-size: 22px;
}

.desc {
    letter-spacing: 2px;
    text-transform: capitalize;
}

.container, div {
    text-align: center;
    color: hsl(0, 0%, 100%);
}

.last {
    padding: 35px;
    padding-top: 5px;
}

.breadcrumb li {
    display: inline;
    font-size: 18px;
    text-decoration: none;
}

.breadcrumb li+li:before {
    padding: 1px;
    color: white !important;
}

.breadcrumb li a {
    text-decoration: none;
}

.breadcrumb {
    padding-top: 15px;
    padding-bottom: 0;
    font-size: 20px;
}

.breadcrumb a {
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
    color: hsl(0, 0%, 100%);
}

.breadcrumb a:hover {
    font-weight: bold;
}

.active {
    font-family: 'Times New Roman', Times, serif;
    color: hsl(0, 0%, 70%) !important;
}

dt {
    font-style: italic;
    text-decoration: underline;
    padding-top: 12px;
}

.card {
    height: 22rem;
    width: 20rem;
    padding: 1.5rem;
    border-radius: 16px;
    background: #17141d;
    box-shadow: 0 0 3rem #000;
    display: none;
    flex-direction: column;
    transition: .2s;
    margin: 0 auto;
    overflow: hidden;
    font-size: 20px;
    position: relative;
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.card {
    display: flex;
}

.card:hover {
    transform: translateY(-1rem);
}

.card:not(:first-child) {
    margin-left: -130px;
}

.card:focus-within ~ .card,
.card:hover ~ .card {
    transform: translateX(130px);
}

@media (max-width: 500px) {
    .card {
        height: 23rem;
        width: 18rem;
    }
}