@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400;500&display=swap');

body {
    max-width: 1200px;
    margin: 0 auto;
    background-color: hsl(78, 69%, 15%);
    user-select: none;
    scrollbar-width: thin;
    scroll-behavior: smooth;
    scrollbar-color: hsl(268, 65%, 5%) hsl(80, 86%, 28%);
}

*{
    cursor: url(../assets/wandmodified.png), auto;
}

*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    background: #b9b9b9;
}

*::-webkit-scrollbar-thumb {
    background-color: hsl(80, 100%, 30%);
    border-radius: 10px;
    border: 3px none #acacac;
}

h1 {
    text-align: center;
    font-weight: bold;
    font-size: 8vmin;
    padding: 20px;
    font-family: 'Griffy', system-ui;
    color: hsl(0, 0%, 100%);
    text-transform: uppercase;
    padding-bottom: 55px;
}

.mainparagraph {
    font-size: 22px;
    color: white;
    margin-bottom: 3.2rem;
    text-align: center;
}

.breadcrumb li {
    display: inline;
    font-size: 18px;
    text-decoration: none;
}

.breadcrumb li+li:before {
    padding: 1px;
    color: white !important;
}

.breadcrumb li a {
    text-decoration: none;
}

.breadcrumb {
    padding-top: 15px;
    padding-bottom: 0;
    font-size: 20px;
}

.breadcrumb a {
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
    color: hsl(0, 0%, 100%);
}

.breadcrumb a:hover {
    font-weight: bold;
}

.active {
    font-family: 'Times New Roman', Times, serif;
    color: hsl(0, 0%, 70%) !important;
}

.container {
    display: flex;
    justify-content: center;
    color: hsl(0, 0%, 100%);
    background-color: hsl(80, 85%, 21%);
    box-shadow: 0 0 100px 100px hsl(80, 85%, 21%);
    font-size: 1.1rem;
}

.card-body {
    background-color: #000000;
    color: white;
}

.card-title {
    font-size: 2rem;
    font-weight: bold;
    font-style: italic;
}

.card {
    box-shadow: 0 0 1rem hsl(103, 45%, 68%);
    background-color: #000000;
}

.card img {
    height: 25rem;
}

.centered-col {
    margin-top: 24px;
    margin-bottom: 6rem;
    width: 588px;
    height: 25rem;
}

span {
    display: flex;
    margin-top: 1rem;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 1.3rem;
}

@media (max-width: 767px) {
    p {
        text-align: center;
    }
}

.card-front,
.card-back {
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transition: transform 0.5s;
}

.card-front {
    z-index: 2;
}

.card-back {
    position: absolute;
    margin: 0;
    height: 478px;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    padding: 1rem;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    background-color: #000000;
    color: hsl(0, 0%, 100%);
    z-index: 1;
    transform: rotateY(180deg);
}

.card:hover .card-front {
    transform: rotateY(-180deg);
}

.card:hover .card-back {
    transform: rotateY(0deg);
}

.aragog{
    background: url("../assets/aragog.jpg") center/cover;
}
.basilisk{
    background: url("../assets/basilisk.jpg") center/cover;
}
.bolyhoska{
    background: url("../assets/bolyhoska.jpg") center/cover;
}
.dementor{
    background: url("../assets/dementor.jpg") center/cover;
}
.phoenix{
    background: url("../assets/phoenix.jpg") center/cover;
}