body {
    max-width: 1200px;
    margin: 0 auto;
    background-color: hsl(11, 71%, 27%);
    font-family: 'Times New Roman', Times, serif;
    user-select: none;
}

* {
    cursor: url(../assets/wandmodified.png), auto;
}

/* Firefox */
* {
    scrollbar-width: thin;
    scroll-behavior: smooth;
    scrollbar-color: hsl(268, 65%, 5%) #cf7d69;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    background: #b9b9b9;
}

*::-webkit-scrollbar-thumb {
    background-color: #570c0c;
    border-radius: 10px;
    border: 3px none #acacac;
}

h1 {
    text-align: center;
    font-weight: bold;
    font-size: 8vmin;
    padding: 20px;
    font-family: 'Griffy', system-ui;
    color: hsl(0, 0%, 100%);
    text-transform: uppercase;
    padding-bottom: 55px;
}

h2, h3 {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}

.container {
    color: hsl(0, 0%, 100%);
    background-color: hsl(10, 47%, 33%);
    box-shadow: 0 0 200px 200px hsl(10, 47%, 33%);
    font-size: 1.1rem;
}

.containerFirst {
    background-color: hsl(10, 47%, 33%);
    box-shadow: 0 0 200px 200px hsl(10, 47%, 33%);
}

.tableContainer {
    box-shadow: 10px 10px 5px hsl(9, 67%, 17%);
    padding: 0;
    border: 1px solid rgb(198, 109, 31);
    border-bottom: 0;
}

.breadcrumb li {
    display: inline;
    font-size: 18px;
    text-decoration: none;
}

.breadcrumb li+li:before {
    padding: 1px;
    color: white !important;
}

.breadcrumb li a {
    text-decoration: none;
}

.breadcrumb {
    padding-top: 15px;
    padding-bottom: 0;
    font-size: 20px;
}

.breadcrumb a {
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
    color: hsl(0, 0%, 100%);
}

.breadcrumb a:hover {
    font-weight: bold;
}

.active {
    font-family: 'Times New Roman', Times, serif;
    color: hsl(0, 0%, 70%) !important;
}

table,
tr,
th,
td {
    text-align: center;
    color: hsl(0, 0%, 100%) !important;
    background-color: hsl(10, 46%, 44%) !important;
}

.tableHead {
    font-weight: bold;
    text-shadow: #FC0 1px 0 10px;
    font-size: 1.5rem;
}

img {
    text-align: center;
    width: 10rem;
    height: 10rem;
}

blockquote {
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
}

@media (max-width: 767px) {
    p {
        text-align: center;
    }
}