@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400;500&display=swap');

body{
    max-width: 1200px;
    margin: 0 auto;
    background-color: hsl(212, 63%, 21%);
    font-family: 'Times New Roman', Times, serif;
    user-select: none;
}
*{
    cursor: url(../assets/wandmodified.png), auto;
}

* {
    scrollbar-width: thin;
    scroll-behavior: smooth;
    scrollbar-color: hsl(268, 65%, 5%) rgb(11, 61, 148);
}

*::-webkit-scrollbar {
    width: 10px;
}
*::-webkit-scrollbar-track {
    background: #b9b9b9;
}

*::-webkit-scrollbar-thumb {
    background-color: #570c0c;
    border-radius: 10px;
    border: 3px none #acacac;
}
h1 {
    text-align: center;
    font-weight: bold;
    font-size: 8vmin;
    padding: 20px;
    font-family: 'Griffy', system-ui;
    color: hsl(0, 0%, 100%);
    text-transform: uppercase;
    padding-bottom: 55px;
}
.container{
    color: hsl(0, 0%, 100%);
    background-color: hsl(212, 48%, 45%);
    box-shadow: 0 0 200px 300px hsl(212, 48%, 45%);
    font-size: 1.1rem;
}
.breadcrumb li {
    display: inline;
    font-size: 18px;
    text-decoration: none;
}
.breadcrumb li+li:before {
    padding: 1px;
    color: white !important;
}
.breadcrumb li a {
    text-decoration: none;
}
.breadcrumb {
    padding-top: 15px;
    padding-bottom: 0;
    font-size: 20px;
}
.breadcrumb a{
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
    color: hsl(0, 0%, 100%);
}
.breadcrumb a:hover{
    font-weight: bold;
}
.active{
    font-family: 'Times New Roman', Times, serif;
    color: hsl(0, 0%, 70%) !important;
}
table, tr, th{
    background-color: hsl(212, 46%, 44%);
    font-weight: bold;
    color: black;
}
table{
    box-shadow: 10px 10px 5px hsl(0, 0%, 0%);
}
#myInput {
    background-position: 10px 12px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
}
#myTable {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
    font-size: 18px;
}
#myTable th, #myTable td {
    text-align: left;
    padding: 12px;
}
#myTable tr {
    border-bottom: 1px solid #ddd;
}
#myTable tr.header, #myTable tr:hover{
    background-color: #f1f1f1;
}